<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>32000</string>
	<string>Noisy Synth Bass - D2.caf</string>
	<string>26</string>
	<string>26</string>
	<string>Noisy Synth Bass - F#2.caf</string>
	<string>30</string>
	<string>30</string>
	<string>Noisy Synth Bass - A#2.caf</string>
	<string>34</string>
	<string>34</string>
	<string>Noisy Synth Bass - D3.caf</string>
	<string>38</string>
	<string>38</string>
	<string>Noisy Synth Bass - F#3.caf</string>
	<string>42</string>
	<string>42</string>
	<string>Noisy Synth Bass - A#3.caf</string>
	<string>46</string>
	<string>46</string>
	<string>Noisy Synth Bass - D4.caf</string>
	<string>50</string>
	<string>50</string>
	<string>Noisy Synth Bass - F#4.caf</string>
	<string>54</string>
	<string>54</string>
	<string>Noisy Synth Bass - A#4.caf</string>
	<string>58</string>
	<string>58</string>
</array>
</plist>
