<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>32000</string>
	<string>Trumpet - Long Notes - D2.caf</string>
	<string>26</string>
	<string>26</string>
	<string>Trumpet - Long Notes - F#2.caf</string>
	<string>30</string>
	<string>30</string>
	<string>Trumpet - Long Notes - A#2.caf</string>
	<string>34</string>
	<string>34</string>
	<string>Trumpet - Long Notes - D3.caf</string>
	<string>38</string>
	<string>38</string>
	<string>Trumpet - Long Notes - F#3.caf</string>
	<string>42</string>
	<string>42</string>
	<string>Trumpet - Long Notes - A#3.caf</string>
	<string>46</string>
	<string>46</string>
	<string>Trumpet - Long Notes - D4.caf</string>
	<string>50</string>
	<string>50</string>
	<string>Trumpet - Long Notes - F#4.caf</string>
	<string>54</string>
	<string>54</string>
	<string>Trumpet - Long Notes - A#4.caf</string>
	<string>58</string>
	<string>58</string>
	<string>Trumpet - Long Notes - D5.caf</string>
	<string>62</string>
	<string>62</string>
	<string>Trumpet - Long Notes - F#5.caf</string>
	<string>66</string>
	<string>66</string>
	<string>Trumpet - Long Notes - A#5.caf</string>
	<string>70</string>
	<string>70</string>
	<string>Trumpet - Long Notes - D6.caf</string>
	<string>74</string>
	<string>74</string>
	<string>Trumpet - Long Notes - F#6.caf</string>
	<string>78</string>
	<string>78</string>
	<string>Trumpet - Long Notes - C7.caf</string>
	<string>84</string>
	<string>84</string>
	<string>Trumpet - Long Notes - F#7.caf</string>
	<string>90</string>
	<string>90</string>
	<string>Trumpet - Long Notes - A#7.caf</string>
	<string>94</string>
	<string>94</string>
	<string>Trumpet - Long Notes - D#8.caf</string>
	<string>99</string>
	<string>99</string>
	<string>Trumpet - Long Notes - G#9.caf</string>
	<string>104</string>
	<string>104</string>
	<string>Trumpet - Long Notes - C10.caf</string>
	<string>108</string>
	<string>108</string>
</array>
</plist>
